{% extends "base.html" %}
{% load i18n %}
{% block title %}about jhjguxin{% endblock %}
{% block body %}
<blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <h1>Sichuan Agricultural Uniersity</h1>

<blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <h1>CV graduates</h1>
</blockquote>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<h1>Personal Recommendation of 2007's Graduation</h1>

<blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <ul>
<li><strong>Name</strong>..........Haijun    jiang</li>
<li><strong>Degree</strong>........Bachelor           </li>
<li><strong>Graduated</strong>.....Sichuan Agricultural University</li>
<li><strong>Professional</strong>..Information and Computing Sciences  </li>
</ul>
</blockquote>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<hr>

<blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <p><a href="http://www.sicau.edu.cn/"><img src="/static/img/sicau.jpg" alt="Alt text" title=""></a> </p>

<blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <p><img src="/static/img/20075729.jpg" alt="Alt text" title="">  </p>
</blockquote>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<h1>Haijun Jiang's biographical notes</h1>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<h3>Personal Details:</h3>

<blockquote>
  <blockquote>
  <p><strong>Name:</strong>Haijun jiang.......................................................................<strong>Gender:</strong>Male <br>
<strong>Place of Born:</strong>Suining City in Sichuan Province....................... <strong>Nationality:</strong>Han <br>
<strong>Date of Born :</strong>1987-11-05  ......................................................... <strong>Height:</strong>172cm <br>
<strong>Feature of Politics:</strong>Youth League ............................................ <strong>Status of Health:</strong>Health <br>
<strong>Educational system:</strong>Full-time and At One's Own Expenses..... <strong>Degree:</strong>Bachelor <br>
<strong>Foreign Language:</strong>English ....................................................... <strong>Computers Skills:</strong>killful  </p>
</blockquote>

<p></blockquote></p>

<h3>Contact Me:</h3>

<blockquote>
  <blockquote>
  <p><strong>Mobile phone :</strong>13547486012     ..............................     <strong>Office-Phone:</strong> -- <br>
<strong>E-mail       :</strong>8642484765@qq.com  ..............................   <strong>Zip:</strong> -- <br>
<strong>QQ           :</strong>864248765  </p>
</blockquote>

<p></blockquote></p>

<h3>Personal Intent:</h3>

<blockquote>
  <blockquote>
  <p><strong>For City1    :</strong>Chengdu ...........................................................   <strong>For Post1:</strong>Systems / network management and maintenance <br>
<strong>For City2    :</strong>sichuan  ............................................................. <strong>For Post2:</strong>Sales Assistant / clerk <br>
<strong>For City3    :</strong>China    ................................................................  <strong>For Post3:</strong>Transport management / scheduling <br>
<strong>Salary       :</strong>Interview  </p>
</blockquote>

<p></blockquote></p>

<h3>Social Work Experience:</h3>

<blockquote>
  <ul>
<li>University for four years to take advantage of winter and summer vacations, I work in the special star chain a total of six months.</li>
<li>2008, I joined the "growing" social practice in order to promote "School Boy repeater" ,in schools</li>
<li>2009, I joined the team of social practice, we conducted a survey of social security about Ya'an the surrounding area.  </li>
</ul>
</blockquote>

<h3>Skills and Strong Suits:</h3>

<blockquote>
  <ul>
<li>I have some experience in sales team</li>
<li>I'm good at computer hardware and software aspects of maintenance, particularly on the windows operating system fixes common problems , I can skillfully use the office of office software </li>
<li>Has a solid mathematical foundation of information science and computer science and basic knowledge of the basic theory</li>
<li>Familiar with computer (including the common language, tools and some special software), with the basic algorithm analysis, design ability and programming ability</li>
<li>To understand an application domain, can apply the theories, methods, and skills to solve some of the research or production of the actual subject (that is, mathematical modeling, mathematical model, the use of computers to solve real problems in society)</li>
<li>To master the literature search, data query of the basic method, with some scientific research and software development capabilities.  </li>
</ul>
</blockquote>

<h3>Self-appraise:</h3>

<blockquote>
  <ul>
<li>I am cheerful, generous, quick mind, quick reaction, flexibility in handling emergencies. I work of practical, serious, and very work and team spirit, I am outgoing, willing to communicate with people, so I make a lot of friends, with good communication skills, adaptability and skilled, confident of the work well done.</li>
<li>As a beginner, I have an excellent ability to learn and willing to learn, innovation, and constantly strive for excellence;As a participant, I have an honest and credible character, full of team spirit;As a leader, I have able to work, and decisive style, good communication and interpersonal skills. I have rich experience of part-time; have a strong endurance, willpower, and hard-working quality. I am serious and responsible work, proactive personality, good dedication, the courage to face the difficulties and challenges.  </li>
</ul>
</blockquote>

<h3>Interests and Loves:</h3>

<blockquote>
  <ol>
<li>I am on the mathematical modeling has a strong interest in, and I actively participate in relevant training and knowledge of the corresponding race</li>
<li>I like the routine maintenance of personal computers, can solve the common system failures, knowledge of system installation and restore the relevant steps</li>
<li>I love the use of optimization software crack, I am a software enthusiast</li>
<li>On the development of web sites I have a lot of interest, I have a professional utility software technology (practical teaching) as a leader in the use of related resources to complete the on-line b / s on-line examination system, and I can design and production of general web.  </li>
</ol>
</blockquote>

<h3>Abount My link:</h3>

<blockquote>
  <p><a href="http://174.127.70.248/">My vps</a> <br>
<a href="https://github.com/jhjguxin/">My Github</a> <br>
<a href="http://hi.baidu.com/jhjguxin/ihome/ihomefeed">My Baidu blog</a> <br>
<a href="http://passport.baidu.com/?business&amp;aid=6&amp;un=jhjguxin#7">My Baidu wenku</a> <br>
<a href="http://www.pc120120.com/?u=3875">My PC BBs</a> <br>
<a href="http://forum.ubuntu.org.cn/">My Ubuntu BBs</a> <br>
<a href="http://bbs.kafan.cn/">My Ka Fan BBs</a>  </p>
</blockquote>

<p></blockquote></p>

<p></blockquote></p>

<hr>

<blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <blockquote>
  <p><img src="/static/img/me.jpg" alt="Alt text" title="">  </p>
</blockquote>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p><em>Note: This document is itself written using <a href="http://daringfireball.net/projects/markdown/">Markdown</a>,you can see the source for it by adding 'Personal_Details.text' to the URL to get the <a href="url about_md">Markdown Code</a>.</em></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>

<p></blockquote></p>
{% endblock %}
