{% extends "base.html" %}
{% load pagination_tags %}
{% block title %}编辑文章{% endblock %}


{% block extra_meta %}
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
     tinyMCE.init({
		// General options
		mode : "textareas",
		theme : "advanced",
		plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave, codehighlighting",

		// Theme options
		theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
		theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
		theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen,|,codehighlighting,",
		theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example content CSS (should be your site CSS)
		//content_css : "css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "lists/template_list.js",
		external_link_list_url : "lists/link_list.js",
		external_image_list_url : "lists/image_list.js",
		media_external_list_url : "lists/media_list.js",

		// Style formats
		style_formats : [
			{title : 'Bold text', inline : 'b'},
			{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
			{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
			{title : 'Example 1', inline : 'span', classes : 'example1'},
			{title : 'Example 2', inline : 'span', classes : 'example2'},
			{title : 'Table styles'},
			{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
		],

		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
</script>



{% endblock %}



{% block body %}


   <div id="posts">
     {% autopaginate posts 10 %}
	<ul>
       {% for post in posts %}

          <li>
					<p>----<a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
					(---<a href="{% url post post_id=post.pk %}" title="edit the post '{{ post.title }}'">edit</a></h3>---<a class="title" href="{{ post.get_absolute_url }}" title="view the post '{{ post.title }}'">view</a>---<a href="{% url post_delete post_id=post.pk %}"title="delete the post '{{ post.title }}'">delete</a>)</p>
          </li>
			{% empty %}
	  <li>
					No posts yet!
	  </li>
	{% endfor %}
       </ul>

    </div>
      {% paginate %}
	
	<form action="post_index" id="postForm" method="post">
    {% csrf_token %}
		{{ form.as_p }}
	  <input type="submit" value="Save">
	</form>
  <!-- the result of the search will be rendered inside this div -->

	


{% endblock %}
